{lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{nkpacket, ".*", {git, "http://github.com/esl/nkpacket", {branch, "remove-lager"}}},
	% {nkdocker, ".*", {git, "http://github.com/nekso/nkdocker", {branch, "develop"}}},
	{luerl, ".*", {git, "https://github.com/rvirding/luerl.git", {branch, "develop"}}}
]}.



